@model LicenseCommon.LicenseData

@{
	ViewBag.Title = "License";
	Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>License</h2>

<div>
	<h4>LicenseData</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.LicensePeriodInDays)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LicensePeriodInDays)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ExpiryDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ExpiryDate)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
